# Server
PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio_builder
JWT_SECRET=replace-with-a-long-random-secret
CLIENT_URL=https://portfolio-builder-2n4d.onrender.com
VITE_API_URL=https://portfolio-builder-2n4d.onrender.com

